{% extends 'base.html.twig' %}

{% block body %}
    <div role="main" class="main">

        <section class="pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="mt-4 mb-2">Enjoy <strong>Your Meal</strong></h2>
                        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>

                        <hr class="custom-divider">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 pb-5">

                        <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
                            <div class="thumb-info thumb-info-no-zoom thumb-info-custom mb-5 text-center">
                                <div class="thumb-info-side-image-wrapper p-0">
                                    <img src="{{ asset('img/meat.jpg') }}" class="img-fluid" alt="">

                                </div>
                                <div class="thumb-info-caption">
                                    <div class="thumb-info-caption-text px-4">
                                        <h2 class="mb-3 mt-1">Best quality meat</h2>
                                        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                        <a class="btn btn-primary mt-3" href="{{ path('app_menu') }}">View More <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 pb-5">

                        <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                            <div class="thumb-info thumb-info-no-zoom thumb-info-custom mb-5 text-center">
                                <div class="thumb-info-side-image-wrapper p-0">
                                    <img src="{{ asset('img/pasta2.jpg') }}" class="img-fluid" alt="">

                                </div>
                                <div class="thumb-info-caption">
                                    <div class="thumb-info-caption-text px-4">
                                        <h2 class="mb-3 mt-1">Fresh pasta</h2>
                                        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                        <a class="btn btn-primary mt-3" href="{{ path('app_menu') }}">View More <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 pb-5">

                        <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                            <div class="thumb-info thumb-info-no-zoom thumb-info-custom mb-5 text-center">
                                <div class="thumb-info-side-image-wrapper p-0">
                                    <img src="{{ asset('img/desserts.jpg') }}" class="img-fluid" alt="">

                                </div>
                                <div class="thumb-info-caption">
                                    <div class="thumb-info-caption-text px-4">
                                        <h2 class="mb-3 mt-1">Delicious desserts</h2>
                                        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                                        <a class="btn btn-primary mt-3" href="{{ path('app_menu') }}">View More <i class="fas fa-long-arrow-alt-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <section class="call-to-action with-full-borders with-button-arrow mb-5">

                <div class="col-sm-9 col-lg-9">
                    <div class="call-to-action-content">
                        <h3>Want to visit us? Submit us your <strong class="font-weight-extra-bold">new reservation now!</strong></h3>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="call-to-action-btn">
                        <a href="{{ path('app_reservation') }}" class="btn btn-modern text-2 btn-primary">New Reservation</a><span class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="left: 100%; top: -32px; animation-delay: 100ms;"></span>
                    </div>
                </div>
            </section>
        </div>
        <section class="section section-background section-center" style="background-image: url('img/wood.jpg'); background-position: 50% 100%; min-height: 615px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8" style="background-color: #ffffffc7">
                        <h1 class="text-10 text-color-dark my-3">Recommendations</h1>
                        <hr class="custom-divider">
                        <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options="{'items': 1, 'loop': false}">
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                        <blockquote>
                                            <p>The best restaurant ever! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                                        </blockquote>
                                        <div class="testimonial-author">
                                            <p><strong>John Smith</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="col">
                                    <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                        <blockquote>
                                            <p>Best place to eat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </blockquote>
                                        <div class="testimonial-author">
                                            <p><strong>John Smith</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </section>

        <section id="menu" style="background-image: url(img/demos/restaurant/background-restaurant.png); background-position: 50% 100%; background-repeat: no-repeat;">
            {% include('Portal/specialmenu.html.twig') %}
        </section>
    </div>
{% endblock %}
