{% extends 'base.html.twig' %}


{% block body %}
    <div role="main" class="main">

        <section class="page-header page-header-modern page-header-md bg-transparent mb-0 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <h1 class="text-10 text-color-dark my-3">Food <strong>&amp; </strong> Drink</h1>
                        <p class="text-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        <hr class="custom-divider my-0">
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
        <section class="call-to-action with-full-borders with-button-arrow mb-5">

            <div class="col-sm-9 col-lg-9">
                <div class="call-to-action-content">
                    <h3>Want to visit us? Submit us your <strong class="font-weight-extra-bold">new reservation now!</strong></h3>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="call-to-action-btn">
                    <a href="{{ path('app_reservation') }}" class="btn btn-modern text-2 btn-primary">New Reservation</a><span class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="left: 100%; top: -32px; animation-delay: 100ms;"></span>
                </div>
            </div>
        </section>
        </div>
        <section class="section section-default">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="tabs tabs-bottom tabs-center tabs-simple">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#menu1" data-toggle="tab">Soups and starters</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu2" data-toggle="tab">Mains, vegetarians & fishes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#menu3" data-toggle="tab">Deserts and drinks</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="menu1">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">Soups</h4>
                                        </div>
                                    </div>

                                    <div class="row">
                                        {% for pos in soups %}
                                        <div class="col-lg-4">
                                            <div class="menu-item">
                                                <span class="menu-item-price">${{ pos.price }}</span>
                                                <h4>{{ pos.name }}</h4>

                                                <p>{{ pos.description }}</p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">APPETIZERS</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for pos in appetizers %}
                                            <div class="col-lg-4">
                                                <div class="menu-item">
                                                    <span class="menu-item-price">${{ pos.price }}</span>
                                                    <h4>{{ pos.name }}</h4>

                                                    <p>{{ pos.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="menu2">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">Main dishes</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for pos in mains %}
                                            <div class="col-lg-4">
                                                <div class="menu-item">
                                                    <span class="menu-item-price">${{ pos.price }}</span>
                                                    <h4>{{ pos.name }}</h4>

                                                    <p>{{ pos.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">Fish and Vegetarians dishes</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for pos in vege %}
                                            <div class="col-lg-4">
                                                <div class="menu-item">
                                                    <span class="menu-item-price">${{ pos.price }}</span>
                                                    <h4>{{ pos.name }}</h4>

                                                    <p>{{ pos.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="menu3">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">Deserts</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for pos in deserts %}
                                            <div class="col-lg-4">
                                                <div class="menu-item">
                                                    <span class="menu-item-price">${{ pos.price }}</span>
                                                    <h4>{{ pos.name }}</h4>

                                                    <p>{{ pos.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h4 class="menu-title">Drinks and beverages</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% for pos in drinks %}
                                            <div class="col-lg-4">
                                                <div class="menu-item">
                                                    <span class="menu-item-price">${{ pos.price }}</span>
                                                    <h4>{{ pos.name }}</h4>

                                                    <p>{{ pos.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        {% include('Portal/specialmenu.html.twig') %}
    </div>
{% endblock %}
