{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {%  include('Admin/adminMenu.html.twig') %}

    <section class="page-header page-header-modern page-header-md bg-transparent mb-0 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-10 text-color-dark my-3">New reservations</h1>
                    <hr class="custom-divider my-0">
                    <p class="text-4">Reservation day: {{ day|date('jS F') }}</p>
                    <p class="text-4">Reservation time: {{ time|date('H:i') }}</p>
                    <p class="text-4">Table: {{ table.name }}</p>


                    <hr class="custom-divider my-0">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center mb-5">
        <form class="edit-form" method="POST"  style="width:350px;">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="form-row">
                <div class="form-group col">
                    <select class="selectMenu" name="persons" style="width:100%;">

                        <option></option>
                        {% for i in table.minNumberofPersons..table.numberOfPersons %}
                                    <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="font-weight-bold text-dark text-2" for="name">Contact name</label>
                    <input id="name" type="text" value="{{ name }}" data-msg-required="Please provide correct name." maxlength="10" class="form-control" name="name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="font-weight-bold text-dark text-2" for="phone">Contact phone</label>
                    <input id="phone" type="text" value="{{ phone }}" data-msg-required="Please provide correct phone." maxlength="10" class="form-control" name="phone" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <input type="submit" value="Add" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.selectMenu').select2({
                placeholder: "Select number of persons",
                minimumResultsForSearch: Infinity
            });

            $('.selectMenu').on('select2:select', function (e) {
                var data = e.params.data;
                var price = $('.selectMenu').find(':selected').data('price');
                $('#price').val(price);
            });
        });

    </script>
{% endblock %}
